/* google font import: volkhov */
/* @import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* tailwind css import */
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
}
body {
  font-family: "Volkhov", serif;
  font-style: normal;
}

.text-stroke {
  -webkit-text-stroke: 1px black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
