@import "tailwindcss";  
  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Volkhov:wght@400;700&display=swap');  
  
.text-stroke {  
  -webkit-text-stroke: 2px #000;  
  color: transparent;  
}  
  
.text-stroke-white {  
  -webkit-text-stroke: 2px #fff;  
  color: transparent;  
}  
  
.max-w-1\/3 {  
  max-width: 33.333333%;  
}  
  
.full-w {  
  width: 100%;  
}  
  
.min-h\[756px\] {  
  min-height: 756px;  
}  
  
.bg\[#e0e0e0\] {  
  background-color: #e0e0e0;  
}  
  
.bg\[#fafafa\] {  
  background-color: #fafafa;  
}  
  
.testimonial_img::before {  
  content: '';  
  position: absolute;  
  top: -10px;  
  left: -10px;  
  right: -10px;  
  bottom: -10px;  
  background: linear-gradient(45deg, #fca120, #000);  
  border-radius: 0.5rem;  
  z-index: 1;  
}
.line-clamp-1 {  
  display: -webkit-box;  
  -webkit-line-clamp: 1;  
  -webkit-box-orient: vertical;  
  overflow: hidden;  
}  
.line-clamp-2 {  
  display: -webkit-box;  
  -webkit-line-clamp: 2;  
  -webkit-box-orient: vertical;  
  overflow: hidden;  
}